*.xml
*.sqlite
*.pyc
*.jl
*.json
*.egg
*.log
*.feed
*.ini
*.txt
*.csv
*.env
!failover/app/README.txt
!failover/app/help.txt
*dbacc.py
jobscrapers/.idea
jobimporters/.idea
feedgenerator/.idea
*dbacc.py
gcd_apec_feedgenerator/build
gcd_apec_feedgenerator/gcdapec.egg-info/
jobimporters/project.egg-info
jobscrapers/build
jobimporters/build
feedgenerator/build
gcd_apec_feedgenerator/build
gcd_apec_feedgenerator/gcdapec.egg-info/
monitor/.idea
monitor/build
jobscrapers/worldcitiespop.txt
jobscrapers/sample
monitor/sample
jobimporters/jobimporters/dbacc.py
feedgenerator/feedgenerator/dbacc.py
feedgenerator/db.conf
jobscrapers/jobscrapers/dbacc.py
jobscrapers/utils/dbacc.py
jobscrapers/utils/debug.py
jobscrapers/utils/debug2.py
jobscrapers/utils/autorun.conf
feedgenerator/test
jobimporters/test
monitor/project.egg-info
!requirements.txt
home/dbs/*.db
home/eggs
home/logs
home/twistd.pid
home/SpiderKeeper.db
!gcd_apec_feedgenerator/res/discovery_file.json
jobscrapers/files.zip
jobscrapers/files
*.zip
.idea
fibois/build/
fibois/project.egg-info/
fibois/files
yavitrina/files
