{% extends "base.html" %}
{% block content_header %}
<h1>Jobs by Jobboards and Date</h1>
{% endblock %}
{% block content_body %}

{% for jobboard in jobboards %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Jobs for <b>{{ jobboard }}</b> by Date</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped">
           <tr>
                <th style="width: 30px">Date</th>
                <th style="width: 160px">Count</th>
            </tr>
            {% for datestr in dates %}
            <tr>
                <td>{{ datestr }}</td>
                <td id="{{ jobboard + '___' + datestr }}"><img src="/static/img/preload-small.gif"/></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}
<script>
    (function () {
        function onLoad(){
            var jobboards = {{ json.dumps(jobboards) | safe }}
            var dates = {{ json.dumps(dates) | safe}}
            for (var j=0; j < dates.length; j++){
                for (var i=0; i < jobboards.length; i++){
                    getCountForJobboardDate(jobboards[i], dates[j])
                }
            }
        }
        function getCountForJobboardDate(jobboard, datestr) {
            var id = jobboard + '___' + datestr;
            var el = document.getElementById(id);
            jQuery.get('/fibois/ajax/count_for_jobboard_date/'+ jobboard +'/'+ datestr, function (data) {
                //console.log(data, typeof data);
                if (typeof data == 'object'){
                    el.innerHTML = data.msg;
                }else{
                    el.innerHTML = data;
                }
            }).fail(function() {
                el.innerHTML = 'error';
              })
        }
        window.addEventListener('load', onLoad);
    })();

</script>

{% endblock %}