{% extends "base.html" %}
{% block content_header %}
<h1>Jobs by Jobboards and Date</h1>
{% endblock %}
{% block content_body %}

{% for jobboard, stat_by_date in stat.items() %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Jobs for <b>{{ jobboard }}</b> by Date</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped">
           <tr>
                <th style="width: 30px">Date</th>
                <th style="width: 160px">Count</th>
            </tr>
            {% for item in stat_by_date %}
            <tr>
                <td>{{ item['date'] }}</td>
                <td>{{ item['count'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endfor %}

{% endblock %}