<div class="box">
    <div class="box-header">
        <h3 class="box-title">Jobs by keywords for <b>{{ jobboard }}</b></h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped">
            <tr>
                <th style="width: 30px">Keyword</th>
                <th style="width: 160px">Count</th>
            </tr>
            {% for item in stat %}
            <tr>
                <td>{{ item['keyword'] }}</td>
                <td>{{ item['count'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
