<div class="box">
    <div class="box-header">
        <h3 class="box-title">Jobs by keywords for <b>{{ jobboard }}</b></h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped">
            <tr>
                <th style="width: 30px">Keyword</th>
                <th style="width: 160px">Count</th>
            </tr>
            {% for i in range(0, total) %}
            <tr>
                <td>{{ keywords[i] }}</td>
                <td id="{{ '{jobboard}___{i}'.format(jobboard=jobboard,i=i) }}"><img src="/static/img/preload-small.gif"/></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    (function () {
        var keywords = {{ json.dumps(keywords) | safe }}
        var jobboard = '{{ jobboard }}'
        for (var i=0; i < keywords.length; i++){
            getCountForKeyword(jobboard, i)
        }

        function getCountForKeyword(jobboard, i) {
            var id = jobboard + '___' + i;
            var el = document.getElementById(id);
            jQuery.get('/fibois/ajax/count_for_keyword/' + jobboard + '/' + i, function (data) {
                //console.log(data, typeof data);
                if (typeof data == 'object'){
                    el.innerHTML = data.msg;
                }else{
                    el.innerHTML = data;
                }
            }).fail(function() {
                el.innerHTML = 'error';
              })
        }
    })();

</script>


