{% extends "base.html" %}
{% block content_header %}
<h1>Vitrina Stats</h1>
{% endblock %}
{% block content_body %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Total</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <p>Categories: {{ stat.category|safe }}</p>
        <p>Tags: {{ stat.tag|safe }}</p>
        <p>Search Tags: {{ stat.search_tag|safe }}</p>
        <p>Category Tags: {{ stat.category_tag|safe }}</p>
        <p>Images: {{ stat.image|safe }}</p>
        <p>Product cards: {{ stat.product_card|safe }}</p>
        <p>Products: {{ stat.product|safe }}</p>
        <p>Brocken product: {{ stat.brocken_product|safe }}</p>
        <p>Products with parameters: {{ stat.product_with_params|safe }}</p>
        <p>Products with feedback: {{ stat.product_with_feedback|safe }}</p>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Fetched by date</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped">
            <tr>
                <th style="width: 60px">Date</th>
                <th style="width: 150px">Categories</th>
                <th style="width: 150px">Tags</th>
                <th style="width: 150px">Search Tags</th>
                <th style="width: 150px">Category Tags</th>
                <th style="width: 150px">Images</th>
                <th style="width: 150px">Product cards</th>
                <th style="width: 150px">Products</th>
            </tr>
            {% for datestr in dates %}
            <tr>
                <td>{{ datestr }}</td>
                <td id="{{ datestr }}-category"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-tag"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-search_tag"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-category_tag"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-image"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-product_card"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-product"><img src="/static/img/preload-small.gif"/></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">More options</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-striped">
            <tr>
                <th style="width: 60px">Date</th>
                <th style="width: 140px">Broken Products</th>
                <th style="width: 140px">Products with parameters</th>
                <th style="width: 140px">Products with feedback</th>
            </tr>
            {% for datestr in dates %}
            <tr>
                <td>{{ datestr }}</td>
                <td id="{{ datestr }}-brocken_product"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-product_with_params"><img src="/static/img/preload-small.gif"/></td>
                <td id="{{ datestr }}-product_with_feedback"><img src="/static/img/preload-small.gif"/></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<style>
    div.box-body.table-responsive table.table.table-striped {cursor: pointer;}
</style>

<script>
    (function () {
        function onLoad(){
            var keys = ['category', 'tag', 'image', 'product', 'product_card', 'search_tag',
                        'category_tag', 'brocken_product', 'product_with_params', 'product_with_feedback'];
            for (var i=0; i < keys.length; i++){
                 getTotalStat(keys[i])
            }
            var dates = {{ json.dumps(dates) | safe}}
            for (var i=0; i < dates.length; i++){
               getCountForDate(dates[i], 'category')
               getCountForDate(dates[i], 'tag')
               getCountForDate(dates[i], 'search_tag')
               getCountForDate(dates[i], 'category_tag')
               getCountForDate(dates[i], 'image')
               getCountForDate(dates[i], 'product_card')
               getCountForDate(dates[i], 'product')
               getCountForDate(dates[i], 'brocken_product')
               getCountForDate(dates[i], 'product_with_params')
               getCountForDate(dates[i], 'product_with_feedback')
            }

            jQuery('div.box-body.table-responsive table.table.table-striped').click(function (ev) {
                //console.log(ev.target.id);
                var id = ev.target.id;
                var regex = /\d\d\d\d-\d\d-\d\d/y
                var regex2 = /\d\d\d\d-\d\d-\d\d/
                if (id){
                    var el = document.getElementById(id);
                    el.innerHTML = '<img src="/static/img/preload-small.gif"/>';
                    var status = null;
                    if (regex.test(id)){
                        //console.log('getCountForDate')
                        var date = id.match(regex2)[0];
                        //console.log(id, date)
                        status = id.split('-').pop()
                        getCountForDate(date, status)
                    }
                }

            });
        }


        function getCountForDate(datestr, entity) {
            var el = document.getElementById(`${datestr}-${entity}`);
            jQuery.get(`/vitrina/ajax/count_for_date/${datestr}/${entity}`, function (data) {
                //console.log(data, typeof data);
                if (typeof data == 'object'){
                    el.innerHTML = data.msg;
                }else{
                    el.innerHTML = data;
                }
            }).fail(function() {
                el.innerHTML = 'error';
              })
        }

        function getTotalStat(key) {
            var el = document.getElementById(`${key}`);
            jQuery.get(`/vitrina/ajax/get_total_stat/${key}`, function (data) {
                //console.log(data, typeof data);
                if (typeof data == 'object'){
                    el.innerHTML = data.msg;
                }else{
                    el.innerHTML = data;
                }
            }).fail(function() {
                el.innerHTML = 'error';
            })
        }

        window.addEventListener('load', onLoad);
    })();

</script>
{% endblock %}
