<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Failover</title>

    <!-- Bootstrap core CSS -->
    <link href="/failover/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/failover/static/css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="vendor/bootstrap/css/navbar.css" rel="stylesheet">-->
    <script src="/failover/static/vendor/jquery/jquery-1.12.3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script src="/failover/static/vendor/bootstrap/js/ie-emulation-modes-warning.js"></script>
    <link rel="stylesheet" href="/failover/static/vendor/jqueryui/jquery-ui.min.css">
    <script src="/failover/static/vendor/jqueryui/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/failover/static/vendor/jqueryui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/failover/static/vendor/jqueryui/jquery-ui.theme.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div><p></p>  </div>
<div class="container">
    <!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/failover">myXtramile</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
           {% block topmenu %}

            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Database Failover<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="index"><a href="/failover">Nodes</a></li>
                        <li id="stats"><a href="/failover/stats">Stats</a></li>
                        <li id="log"><a href="/failover/log">Log</a></li>
                        <li id="config"><a href="/failover/config">Config</a></li>

                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cron Jobs Failover<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="jobs"><a href="/failover/jobs">Jobs</a></li>
                        <li id="newjob"><a href="/failover/newjob">New job</a></li>
                        <li id="diedjobs"><a href="/failover/diedjobs">Died jobs</a></li>
                        <li role="separator" class="divider"></li>
                        <li id="joberrors"><a href="/failover/joberrors">Jobs's errors</a></li>
                        <li role="separator" class="divider"></li>
                        <li id="cronlog"><a href="/failover/cronlog">Log</a></li>
                        <li role="separator" class="divider"></li>
                        <li id="getdatabase"><a href="/failover/getdatabase">Download database</a></li>
                        <li id="putdatabase"><a href="/failover/putdatabase">Upload database</a></li>
                        <li role="separator" class="divider"></li>
                        <li id="help2"><a href="/failover/help2">Help</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li id="help"><a href="/failover/help">Help</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="logout"><a href="/failover/logout">Logout</a></li>
            </ul>

            {% endblock %}
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    {% block content%}
    {% endblock %}
</div>

<div class="jumbotron">
    <div class="footer">
        <h3>Failover</h3>
        <p>&copy; myXtramile 2018</p>
    </div>
</div>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/failover/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/failover/static/vendor/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript">
    $('.navbar-nav li a').click(function(){
        $('.navbar-nav li').removeClass('active');
        $(this).parent().addClass('active');
    });
    var uri = location.pathname.substr(1);
    if (uri == '')
        uri = 'index';
    console.log(uri);
    $('#'+uri).addClass('active');
</script>
</body>
</html>