{% extends "base.html" %}

{% block content %}
    <h3>Jobs:</h3>
        {% if error %}
        <div class="errorMessage">{{error}}</div>
        {% endif %}

    <form method="get" action="/failover/newjob" class="right">
        <button>New job</button>
    </form>
<hr/>
    <table class="table">
        <tr>
            <th>Slug</th>
            <th>Schedule</th>
            <th>Description</th>
            <th>Start time</th>
            <th>Max execute time (sec)</th>
            <th>Last ping</th>
            <th>Time from last ping (min)</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
        <tr>
            {% if jobs %}
                {% for job in jobs %}
                <tr>
                    <td>{{job['slug']}}</td>
                    <td>{{job['m']}}&nbsp;{{job['h']}}&nbsp;{{job['dom']}}&nbsp;{{job['mon']}}&nbsp;{{job['dow']}}</td>
                    <td>{{job['description']}}</td>
                    <td>{{job['start_time']}}</td>
                    <td>{{job['max_execute_time']}}</td>
                    <td {% if job['warning'] %}class="red"{% endif %}>{{job['last_ping']}}</td>
                    <td>{{job['diff']//60}}</td>
                    <td>{% if job['enabled'] %} Yes {% else %} No {% endif %}</td>
                    <td>
                        <a href="/failover/jobsedit/{{job['slug']}}">Edit</a> |
                        <a href="/failover/jobsdelete/{{job['slug']}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <td colspan="6"> jobs not found </td>
            {% endif %}
        </tr>
    </table>

{% endblock %}